* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-image: linear-gradient(to bottom, rgb(121, 126, 197), rgb(65, 52, 116));
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input {
    width: 800px;
    height: 400px;
    padding: 4px;
    background-color: rgb(240, 248, 255);
    border: 5px solid rgb(27, 27, 27);
    outline: none;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    resize: none;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.info {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.info * {
    margin: 5px;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 30px;
}

.characters {
    background-color: seagreen;
}

.words {
    background-color: cadetblue;
}

.sentences {
    background-color: coral;
}

.paragraphs {
    background-color: salmon;
}

.info div span {
    margin: 0;
}

@media only screen and (max-width: 800px) {
    .container {
        width: 100%;
    }
    #input {
        width: 500px;
    }
    .info * {
        margin: 2px;
        font-size: 1.1em;
        padding: 5px;
    }
}

@media only screen and (max-width: 560px) {
    #input {
        width: 300px;
    }
    .info {
        flex-direction: column;
    }
    .info * {
        margin: 5px;
        font-size: 1.2em;
        padding: 10px;
    }
}

@media only screen and (max-width: 300px) {
    #input {
        width: 280px;
    }
}

@media only screen and (max-height: 680px) {
    #input {
        height: 300px;
    }
}